body{
    font-family:Arial, sans-serif;
    margin:0;
    padding:0;
}

.header{
    background:#0077d9;
    color:white;
    padding:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.user-info{
    padding:20px;
    background:#f4f7fb;
}

.actions{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:10px;
    padding:20px;
}

button{
    padding:10px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-size:15px;
}

.actions button{
    background:#0077d9;
    color:white;
}

.actions button:hover{
    background:#005fb0;
}

#btnLogout{
    background:#ff3b3b;
    color:white;
}

#btnLogout:hover{
    background:#c40000;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}

.btn-action {
  background: #0077d9;
  color: white;
  text-decoration: none;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
}
